# Auto detect text files and perform LF normalization
* text=auto
'*.so filter=lfs diff=lfs merge=lfs -text
'*.so2 filter=lfs diff=lfs merge=lfs -text
'*.so1 filter=lfs diff=lfs merge=lfs -text
'*.so3 filter=lfs diff=lfs merge=lfs -text
'*.so4 filter=lfs diff=lfs merge=lfs -text
